* {
    margin: 0;
    padding: 0;
}
.App {
    height: 100vh;
    text-align: center;
    background-color: #393E46;
    color: #00ADB5;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.App h1 {
    font-size: 3rem;
}
.App h2 {
    font-size: 2rem;
}

.App img {
    width: 100px;
    height: 100px;
}